// ----------------------------------
//			Overarching/General Styles
// ----------------------------------

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background: $yellow;
	color: $grey;

	@media screen and (max-width: 800px) {
		font-size: .9em;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.btn {
	background: $purple;
	color: $yellow;
	font: 1.5625em Dosis;
	letter-spacing: .01em;
	text-align: center;
	font-weight: 300;

	width: 10em;
	padding: .3em;
	margin: 20px auto;

	-moz-box-shadow: .175em .175em $purple-dark;
	-webkit-box-shadow: .175em .175em $purple-dark;
	box-shadow: .175em .175em $purple-dark;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#3D2040')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#3D2040');

	&:hover {
		background: lighten($purple, 10%);
	}

	&.btn-disabled {
		background: lighten($grey, 20%);
		color: lighten($grey, 60%);

		-moz-box-shadow: .175em .175em $grey;
		-webkit-box-shadow: .175em .175em $grey;
		box-shadow: .175em .175em $grey;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
	}
}

h1 {
	@extend .style-1;
	text-align: center;
}

h2 {
	color: $grey;
	font: 2.5em "Concert One";
	padding: 10px 0;
	line-height: .9em;

	&#uni {
		float: left;

		@media screen and (max-width: 600px) {
				float: none;
				padding: 10px 0 0 0;
		}
	}

	&#GPA {
		float: right;

		@media screen and (max-width: 600px) {
				float: none;
		}
	}

	&.centered {
		text-align: center;
	}

	span {
		font: .5em Dosis;

		br {
			display: none;

			@media screen and (max-width: 600px) {
				display: inline;
			}
		}
	}


}

.location {
	float: right;
	clear: left;
	margin-top: 1em;
	width: 8.5em;

	@media screen and (max-width: 600px) {
		display: none;
	}
}

h3 {
	padding: 10px 0 10px 1em;
	font: 1.25em Quando;

	&#edu-info {
		margin-top: 3em;
		padding-bottom: 0;

		@media screen and (max-width: 600px) {
			margin: 0;
		}	
	}

	@media screen and (max-width: 600px) {
		padding: 0;
	}
}

p {
	font: 1.125em Dosis;
	letter-spacing: .03125em;
	padding: 10px 0 10px 2.222em;
	width: 70%;

	@media screen and (max-width: 600px) {
		width: 100%;
		padding: 10px 0;
	}

	&.p-center {
		margin-left: 15%;
		padding: 10px 0;

		@media screen and (max-width: 600px) {
			width: 90%;
			padding: 10px 5%;
			margin-left: 0;
		}
	}
	

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.me {
	float: right;
	width: 16em;
}





// ----------------------------------
//			Project Styles
// ----------------------------------

.page-split {
	display: inline-block;
	width: 50%;

	img {
		width: 60%;
		margin-left: 16%;
		padding: 4%;
	}

	@media screen and (max-width: 600px) {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

	@media screen and (max-width: 450px) {
		width: 100%;
	}
}


.project {
	width: 25%;
	display: inline-block;
	margin-top: .5em;
	margin-bottom: 1em;

	font: .9em Quando;
	text-align: center;

	

	img {
		margin-top: 1em;
		width: 80%;

		-webkit-transition: all 0.2s ease-in;
		-moz-webkit-transition: all 0.2s ease-in;
		-o-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;

		&:hover {
			margin-top: 0;
			margin-bottom: 1em;
		}
	}

	.subtitle {
		margin-top: .75em;
	}

	@media screen and (max-width: 850px) {
		width: 33%;
	}

	@media screen and (max-width: 600px) {
		width: 50%;
		font-size: 1.2em;
	}

	@media screen and (max-width: 400px) {
		width: 100%;
	}
}

.project-highlight {
	.center {
		width: 90%;
		padding: 5%;
		margin: 0 auto;

		@media screen and (max-width: 600px) {
			width: 100%;
			padding: 0;
		}

		img {
			width: 100%;
		}
	}

	.rslides {
	  position: relative;
	  list-style: none;
	  overflow: hidden;
	  width: 100%;
	  padding: 0;
	  margin: 0;

	  li {
		  -webkit-backface-visibility: hidden;
		  position: absolute;
		  display: none;
		  width: 100%;
		  left: 0;
		  top: 0;

		  &:first-child {
			  position: relative;
			  display: block;
			  float: left;
		  }
	  }

	  img {
		  display: block;
		  height: auto;
		  float: left;
		  width: 100%;
		  border: 0;
		}
  }

  .rslides1_tabs {
  	width: 50%;
  	margin: 1em auto 0 auto;
  	text-align: center;

  	li {
  		display: inline-block;
  		background: $yellow;
  		width: 1.3em;
  		height: 1.3em;
  		border-radius: 50%;
  		text-align: center;
  		margin: 0 .5em;
  		font: 1em Dosis;

  		&.rslides_here {
  			background: darken($yellow, 10%);
  		}

  		&:hover {
  			background: darken($yellow, 10%);
  		}
   	}
  }

	.skills {
		width: 70%;
		padding: 0 15%;
		text-align: center;

		.skill {
			display: inline-block;
			font: 1.1em Quando;
			padding: 3px 6px;
			margin: .2em .2em .2em .2em;
		}
	}
}




// ----------------------------------
//			Header Styles
// ----------------------------------

header {
	background: $purple;
	width: 100%;

	.logo, .logo-img {
		width: 8.2022em;

		@media screen and (max-width: 450px) {
			width: 8.2022em;
		}
	}

	.logo {
		padding: 1.25em 0;
		float: left;

		@media screen and (max-width: 450px) {
			float: none;
			width: 8.2022em;
			margin: 0 auto;
		}
	}

	.logo-img {
		width: 8.2022em;

		@media screen and (max-width: 450px) {
			float: none;
			width: 8.2022em;
			margin: 0 auto;
		}
	}

	ul {
		float: right;
		list-style: none;
		padding: 1.25em 0 0 0;

		text-align: center;
		color: $yellow;
		font: .75em Dosis;
		letter-spacing: .03125em;
		

		img {
			height: 3.4em;
		}

		li {
			display: inline-block;
		}

		@media screen and (max-width: 450px) {
			float: none;
			margin: 0 auto;
			padding: 0 0 .3em 0;

			font-size: .95em;
		}
	}
}


// ----------------------------------
//			Core Styles
// ----------------------------------



.core {
	.container {
		padding: 15px 0;
	}

	.yellow-back {
		background: $yellow;
	}

	.grey-back {
		background: $grey;
	}

	.green-back {
		background: $green;
	}

	.yellow-text {
		color: $yellow;
	}

	.green-text {
		color: $green;
	}

	.pink-text {
		color: $pink;
	}

	.grey-text {
		color: $grey;
	}

	.purple-text {
		color: lighten($purple,10%);
	}

	.sub-text {
		padding: 10px 0;
		font: 1.25em Quando;
		text-align: center;

		
	}

	.handwritten {
			font: 1.1em Handlee;
	}

	.style-1 {
		font: 3.4375em Quando;
		letter-spacing: .08em;
		text-shadow: $pink-highlight .01em .01em 0,
			$pink-highlight .02em .02em 0,
			$pink-highlight .03em .03em 0,
			$pink-highlight .04em .04em 0,
			$pink-highlight .05em .05em 0;

		@media screen and (max-width: 600px) {
			font-size: 2.8em;
		}
	}

	.style-2 {
		padding: 0 0 10px 0;
		color: $pink;
		font:  3.4375em "Concert One";
	}

	.style-3 {
		padding: 0 0 10px 0;
		color: $pink-lighter;
		font:  1.25em Dosis;
		letter-spacing: .09em;
	}

	.style-4 {
		color: $yellow;
		font: 3.6em "Concert One";
		line-height: .9em;

		@media screen and (max-width: 450px) {
			font-size: 3em;
		}
	}

}




// ----------------------------------
//			Footer Styles
// ----------------------------------


.footer {
	height: 3em;
	background: $purple;
	text-align: center;
	color: $yellow;

	.icon {
		margin-top: .25em;
	}

	span {
		display: inline-block;
		margin-left: .2em;
	}
}

// Sticky footer solution

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

.push {
	height: 3em;
}





// ----------------------------------
//			Clearfix Solution
// ----------------------------------

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}






// ----------------------------------
//			Icon fonts
// ----------------------------------

@font-face {
	font-family: 'icomoon';
	src:url('../icons/icomoon.eot');
	src:url('../icons/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../icons/icomoon.woff') format('woff'),
		url('../icons/icomoon.ttf') format('truetype'),
		url('../icons/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	color: $yellow;
	font-family: 'icomoon';
	font-size: 2em;
	-webkit-font-smoothing: antialiased;

	&:hover {
		color: $pink;
		text-decoration: none;
	}
}

.icon-linkedin:before {
	content: "\e600";
}

.icon-github:before {
	content: "\e4ba";
}

.icon-googleplus:before {
	content: "\e496";
}

.icon-twitter:before {
	content: "\e49f";
}

.icon-dribbble:before {
	content: "\e4b1";
}